<!DOCTYPE html>
<html>
    <head> 
        <title>登录页面</title>
        <link rel="icon" type="image/x-icon" href="../asset/img/icon.jpg" />
        <link rel="stylesheet" type="text/css" href="../asset/css/logIn.css" />        
        <script type="text/javascript">
            function logIn(){
                window.location.href="../e-Book.htm";
            }
        </script>
    </head>
    <body>
        <div class="logContainer">
            <div class="logInput">
                <input  type="text" value="用户名："/>
                <input  type="text" value="密码："/>
            </div>
            <div class="logButton">
                <button onclick="logIn()">
                    登录
                </button>
            </div>
        </div>
        
    </body>
</html>