<!DOCTYPE html>
<html>
    <head> 
        <title>图书列表</title>
        <link rel="icon" type="image/x-icon" href="../asset/img/icon.jpg" />
        <link rel="stylesheet" href="../asset/css/mainPage.css">
    </head>
    <body>
        <div class = "container">
            <ul class="bookList">
                <li>
                    <a href="./details/jueShiTangMen.htm" >
                    <img src="../asset/img/jueShiTangMen.jpg" />
                    <p>绝世唐门</p>
                    </a>
                    <p>作  者：唐家三少</p>
                    <p>ISBN编号：001</p>
                    <p>库存：10</p>
                </li>
                <li>
                    <a href="./details/sanCunTianTang.htm" >
                    <img src="../asset/img/sanCunTianTang.jpg" />
                    <p>三寸天堂</p>
                    </a>
                    <p>作  者：耳根</p>
                    <p>ISBN编号：002</p>
                    <p>库存：10</p>
                </li>
                <li>
                    <a href="./details/zhenHun.htm" >
                    <img src="../asset/img/zhenHun.jpg" />
                    <p>镇魂</p>
                    </a>
                    <p>作  者：priest</p>
                    <p>ISBN编号：003</p>
                    <p>库存：10</p>
                </li>
                <li>
                    <a href="./details/quanZhiGaoShou.htm" >
                    <img src="../asset/img/quanZhiGaoShou.jpg" />
                    <p>全职高手</p>
                    </a>
                    <p>作  者：蝴蝶蓝</p>
                    <p>ISBN编号：004</p>
                    <p>库存：10</p>
                </li>
            </ul>
        </div>
        
    </body>
</html>