#container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(52, 238, 222);
    text-align: center;
}

img{
    position: relative;
    width: 180px;
    height: 240px;
}

p{
    margin: 20px;
}