.logContainer{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(52, 238, 222);
    text-align: center;
}

p{
    font-size: 50px;
}

.logContainer .logInput{
    position: relative;
    height: 25%;
    width: 40%;
    
    left: 30%;
    text-align: center;
}

.logContainer .logInput input{
    position: relative;
    margin: 2%;
    height: 25%;
    width: 60%;
    
}

.logButton{
    position: relative;
    height: 10%;
    width: 40%;
    top: 20%;
    left: 30%;
    text-align: center;
}

.logButton button{
    position: relative;
    height: 50%;
    width: 20%;
}