#input{
    position: fixed;
    text-align: center;
    width: 20%;
    top: 200px;
    left: 40%;
}

#logIn{
    position: relative;
    font-size: 500%;
    text-align: center;
    top: 50px;
}

#input *{
    margin: 2px;
}