<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书</title>
    <link rel="icon" type="image/x-icon" href="../../asset/img/icon.jpg" />
    <link rel="stylesheet" href="../../asset/css/details.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="https://www.qisuu.la/Shtml31730.html"><img src="../../asset/img/jueShiTangMen.jpg" ></a>
        </div>
        <div id="introduction">
            <h1>绝世唐门</h1>
            <p>作  者：唐家三少</p>
            <p>书目简介：</p>
            <p>
                    《绝世唐门》是作者唐家三少全新力作的玄幻小说，又名《斗罗大陆Ⅱ绝世唐门》是斗罗系列的第二部！ 
                    这里没有魔法，没有斗气，没有武术，却有武魂。唐门创立万年之后的斗罗大陆上，唐门式微。
                    一代天骄横空出世，新一代史莱克七怪能否重振唐门，谱写一曲绝世唐门之歌？ 
                    百万年魂兽，手握日月摘星辰的死灵圣法神，导致唐门衰落的全新魂导器体系。
                    一切的神奇都将一一展现。 唐门暗器能否重振雄风，唐门能否重现辉煌，一切尽在绝世唐门！  
            </p>
            <p>ISBN编号：001</p>
            <p>库存：10</p>
        </div>
    </div>
</body>
</html>