<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书</title>
</head>
<body>
    <div>
        <div id="header">
            <h1>全职高手</h1>
            <p>作  者：蝴蝶蓝</p>
            <img src="../../asset/img/quanZhiGaoShou.jpg" alt="">
            <hr/>
        </div>
        <div id="introduction">
            <h2>书目简介</h2>
            <br />
            <p>
                网游荣耀中被誉为教科书级别的顶尖高手，因为种种原因遭到俱乐部的驱逐，离开职业圈的他寄身于一家网吧成了一个小小的网管。
                但是，拥有十年游戏经验的他，在荣耀新开的第十区重新投入了游戏。
                带着对往昔的回忆，和一把未完成的自制武器，开始了重返巅峰之路。
            </p>
            <hr />
            <h2>章节目录</h2>
            <a href="https://www.qisuu.la/du/30/30065/">在线阅读</a>
        </div>
    </div>
</body>
</html>