<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书</title>
</head>
<body>
    <div>
        <div id="header">
            <h1>三寸天堂</h1>
            <p>作  者：耳根</p>
            <img src="../../asset/img/sanCunTianTang.jpg" alt="">
            <hr/>
        </div>
        <div id="introduction">
            <h2>书目简介</h2>
            <br />
            <p>
                举头三尺无神明，掌心三寸是人间。这是耳根继《仙逆》《求魔》《我欲封天》《一念永恒》后，创作的第五部长篇小说《三寸人间》。 
            </p>
            <hr />
            <h2>章节目录</h2>
            <a href="https://www.qisuu.la/du/9/9118/">在线阅读</a>
        </div>
    </div>
</body>
</html>