<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书</title>
    <link rel="icon" type="image/x-icon" href="../../asset/img/icon.jpg" />

    <link rel="stylesheet" href="../../asset/css/details.css">

</head>
<body>
    <div id="container">
        <div id="header">
            
            <a href="https://www.qisuu.la/Shtml27861.html"><img src="../../asset/img/zhenHun.jpg" alt=""></a>
        </div>
        <div id="introduction">
            <h1>镇魂</h1>
            <p>作  者：priest</p>
            <p>书目简介：</p>
            <p>
                    如题，都市灵异故事温柔内敛美人攻VS暴躁精分……以及自以为攻的受。容易逆cp警报，请关注文案。 
                    作者：priest所写的《镇魂》无弹窗免费全文阅读为转载作品,章节由网友发布。 
                    推荐地址：https://www.qisuu.la/du/27/27861/ 
            </p>
            <p>ISBN编号：003</p>
            <p>库存：10</p>
        </div>
    </div>
</body>
</html>