<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书</title>
</head>
<body>
    <div>
        <div id="header">
            <h1>镇魂</h1>
            <p>作  者：priest</p>
            <img src="../../asset/img/zhenHun.jpg" alt="">
            <hr/>
        </div>
        <div id="introduction">
            <h2>书目简介</h2>
            <br />
            <p>
                如题，都市灵异故事温柔内敛美人攻VS暴躁精分……以及自以为攻的受。容易逆cp警报，请关注文案。 
                作者：priest所写的《镇魂》无弹窗免费全文阅读为转载作品,章节由网友发布。 
                推荐地址：https://www.qisuu.la/du/27/27861/
            </p>
            <hr />
            <h2>章节目录</h2>
            <a href="https://www.qisuu.la/Shtml27861.html">在线阅读</a>
        </div>
    </div>
</body>
</html>