.logContainer{
    position: fixed;
    height: 100%;
    width: 100%;
}

.logContainer .logInput{
    position: relative;
    height: 25%;
    width: 40%;
    top: 30%;
    left: 30%;
    text-align: center;
}

.logContainer .logInput input{
    position: relative;
    margin: 2%;
    height: 25%;
    width: 60%;
    
}

.logButton{
    position: relative;
    height: 10%;
    width: 40%;
    top: 30%;
    left: 30%;
    text-align: center;
}

.logButton button{
    position: relative;
    height: 50%;
    width: 20%;
}