<!DOCTYPE html>
<html>
    <head> 
        <title>图书列表</title>
        <link rel="icon" type="image/x-icon" href="../asset/img/icon.jpg" />
        <style>
            .bookList{
                list-style: none;
                text-align: center;
                
            }

            .bookList li{
                margin: 10px;
                position: relative;
                float: left;
                display: block;
            }

            .bookList li a img{
                position: relative;
                height: 240px;
                width: 180px;
            }
        </style>
    </head>
    <body>
        <div >
            <ul class="bookList">
                <li>
                    <a href="https://www.qisuu.la/Shtml31730.html" >
                    <img src="../asset/img/jueShiTangMen.jpg" />
                    <p>绝世唐门</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.qisuu.la/Shtml9118.html" >
                    <img src="../asset/img/sanCunTianTang.jpg" />
                    <p>三寸天堂</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.qisuu.la/Shtml27861.html" >
                    <img src="../asset/img/zhenHun.jpg" />
                    <p>镇魂</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.qisuu.la/Shtml30065.html" >
                    <img src="../asset/img/quanZhiGaoShou.jpg" />
                    <p>全职高手</p>
                    </a>
                </li>
            </ul>
        </div>
        
    </body>
</html>